#explore-bttn {
    position: absolute;
    left: 5px;
    top: 4px;
}

#explore-bttn>img {
    width: 114px;
    height: 66px;
}

#explore-bttn>a {
    position: absolute;
    bottom: 25px;
    left: 32px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
}

#quick-bites-bttn {
    position: absolute;
    right: 5px;
    top: 4px;
}

#quick-bites-bttn>img {
    width: 114px;
    height: 66px;
}

#quick-bites-bttn>a {
    position: absolute;
    bottom: 12px;
    left: 37px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
}

.uppermost-nav>.shape-1 {
    width: 114px;
    height: 66px;
}

#bottom-oval {
    position: absolute;
    left: 0px;
    top: 88px;
    width: 99%;
    height: 50%;
    z-index: 20;
}

#center-oval {
    position: absolute;
    left: 35%;
    top: 20px;
    width: 30%;
    z-index: 10;
}

img.add-item {
    position: absolute;
    width: 108px;
    height: 45px;
    left: 36%;
    top: 72px;
    z-index: 30;
}

a.add-item {
    position: absolute;
    left: 40.5%;
    top: 76.5px;
    font-style: italic;
    font-weight: 900;
    font-size: 16px;
    color: #000000;
    z-index: 30;
}

.uppermost-nav>span {
    position: absolute;
    left: 39.3%;
    top: 35px;
    font-style: italic;
    font-weight: 900;
    font-size: 24px;
    z-index: 30;
}

.uppermost-nav {
    background: rgba(196, 140, 67, 0.65);
    display: inline;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 380px;
    height: 18%;
}

#pantry-background {
    position: absolute;
    left: 0px;
    top: 17%;
    width: 100%;
    height: 85%;
    z-index: 32;
}

#shelf-first {
    position: absolute;
    left: 0px;
    top: 32%;
    width: 100%;
    height: 2%;
    z-index: 32;
}

#shelf-second {
    position: absolute;
    left: 0px;
    top: 50%;
    width: 100%;
    height: 2%;
    z-index: 32;
}

#shelf-lower-1 {
    position: absolute;
    left: 0px;
    top: 67%;
    width: 100%;
    height: 2%;
    z-index: 32;
}

#shelf-lower-2 {
    position: absolute;
    left: 0px;
    top: 84%;
    width: 100%;
    height: 2%;
    z-index: 32;
}

#expiring-soon-hscroll {
    display: block;
}

#alphabetical-hscroll {
    display: block;
}

/* new styling */

.hscroll {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
}
.lower {
    background-image: url("images/pantry-background.png");
    position: absolute;
    z-index: 99;
    width: 100%;
    margin-top: 110px;
}
.urgent-shelf {
    display: flex;
    flex-direction: row;
}

.pantry-item {
    width: 100px;
}