.cart {
    background-color: #83ABAF;
    color: black;
}

.back {
    float: left;
    position: absolute;
}
h2 {
    width: 100%;
}

.content {
    background-color: #FFEFD8;
}
.cart-item {
    background-color: #DEE5E5;
    display: flex;
    flex-direction: row;
    height: 110px;
    box-sizing: border-box;
    color: black;
    text-align: left;
    padding: 2px 0 2px 2px;
    margin: 5px 0;
}

ul {
    list-style-type: none;
    text-align: left;
    padding: 0;
    margin:0;
}

.cart-item-info {
    width: 75%;
    height: 80px;
}

.cart-info-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}

.cart-item-buttons {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cart-item-buttons > button {
    width: 100%;
}
.edit {
    background-color: blue;
}
.delete {
    background-color: red;
}

.finalize {
    background-color: #9B5DE5;
    margin: 20px
}