/* ItemConfirmationHeader.css */
.item-confirmation-header {
    background-color: #83abae;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .item-confirmation-header h1 {
    margin: 0;
    font-size: 24px;
  }
  
  .back-button {
    background: none;
    border: none;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
  }