/* Header.css */
.header {
  background-color: #83abae;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
}

.back-arrow {
  font-size: 50px;
  cursor: pointer;
  color:black;
}

.cart-icon {
  position: relative;
  cursor: pointer;
}

.cart-icon img {
  width: 50px;
  height: 50px;
}

.cart-count {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: red;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}