#root {
  min-width: 270px;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

nav {
  display: flex;
  flex-direction: row;
  text-align: center;
  margin: auto;
  justify-content: space-between;
  padding: 0 5px;
  height: 20px;
}

.panel {
  width: 90%;
}

.submit-rating {
  border: 1px solid #7C7979;
  background: rgba(55, 196, 97, 0.66);
  margin: 30px;
}

.ratings-panel {
  background: rgba(138, 205, 238, 0.78);
  color: black;
  font-size: large;
}

.ratings-panel > h1 {
  margin-top: 0;
}

.exit {
  font-size: x-large;
  font-weight: bolder;
  padding-right: 20px;
  text-align: right;
}