#root {
  min-width: 270px;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

nav {
  display: flex;
  flex-direction: row;
  text-align: center;
  margin: auto;
  justify-content: space-between;
  padding: 0 5px;
  height: 20px;
}
