#root {
  position: relative;
  height: 100vh;
  min-width: 270px;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  background-color: #83ABAF;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

nav {
  display: flex;
  flex-direction: row;
  text-align: center;
  margin: auto;
  justify-content: space-between;
  padding: 0 5px;
  height: 20px;
}

.panel {
  position: relative;
  background: rgba(138, 205, 238, 0.78);
  width: 90%;
  margin:auto;
}

.submit-rating {
  border: 1px solid #7C7979;
  background: rgba(55, 196, 97, 0.66);
  margin: 30px;
}

.ratings-panel {
  color: black;
  font-size: large;
}

.ratings-panel {
  padding: 1px; /* Adding this also makes X for rating panel inside fit? */
}

.exit {
  position: absolute;
  right: 0;
  font-size: x-large;
  font-weight: bolder;
  padding-right: 10px;
  text-align: right;
}

.focus-header {
  display: flex;
  flex-direction: row;
}
.focus-header > img {
  height: 100%;
}
.focus-details {
  padding-left: 5px;
}

.options {
  display: flex;
  flex-direction: column;
}

.options > a > button{
  width: 90%;
  margin: 10px;
  box-sizing: border-box;
}

h4 {
  color:black;
  margin: 4px;
}